$font-family-display: "Red Rose", serif;
$font-family-text: "Almarai", sans-serif;
$font-family-gaming: "Orbitron", sans-serif;
$font-family-numbers: "October Devanagari", serif;

$color-white: #ffffff;
$color-dark: #303131;

$code-vibes-accent-yellow: #f0ea6e;
$code-vibes-accent-blue: #2bb1ff;
$code-vibes-accent-orange: #f58e39;
$code-vibes-accent-green: #4dd5bc;
$code-vibes-card-back: #e8f3f0;
$code-vibes-gradient-card: linear-gradient(
  212.26deg,
  #4dd5bc 29.42%,
  #286f62 123.94%
);

$gaming-bg: #294f60;
$gaming-pink: #ed1b76;
$gaming-blue: #097fc5;
$gaming-orange: #ea6900;
$gaming-border-pink: #e71c4f;
$gaming-card-back: #f6f1f3;
$gaming-popup-bg: #f0f6f9;
$gaming-gradient-card: linear-gradient(147.13deg, #ed1b76 1.28%, #0a2835 142.53%);
