.hero {
  max-width: 900px;
  text-align: center;

  &__subtitle {
    display: flex;
    justify-content: flex-start;
    margin: 0 0 8px;
    font-family: "Almarai", sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 1.1;
  }

  &__title {
    margin: 0 0 24px;
    font-family: "Red Rose", serif;
    font-size: 140px;
    font-weight: 700;
    line-height: 1;
  }
}
