.page {
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 24px;

  &-home {
    position: relative;
    overflow: hidden;

    &__controller {
      position: absolute;
      left: 24px;
      bottom: 24px;
      width: min(32vw, 420px);
      height: auto;
      pointer-events: none;
    }
  }
}
